@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root {
  --primary-color: #0d0210;
  --secondary-color: #4d3147;
  --tertiary-color: #866a80;
  --quaternary-color: #c9b7c7;
  --quinary-color: #fffbff;
}

* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 1,5rem;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
}
