@import '../../assets/global.css';

.about {
  color: var(--quinary-color);
  border-radius: 10px;
  box-shadow: 7px 7px 13px 0px var(--secondary-color);
  padding: 3%;
  margin: 5%;
  width: 45%;
  background-color: var(--tertiary-color);
}